@font-face {
    font-family: 'Grafton';
    src: url('font/zt-grafton-regular.ttf') format('truetype');
}

body {
    overflow-x: hidden;
}

@media screen and (min-width:1440px) {
    .titre {
        font-family: 'Grafton';
        text-align: center;
        font-size: 100px;
        color: white;
        margin-top: 80px;
    }
    
    .fond {
        margin: -10px;
        width: 100%;
        height: 1900px; /* La hauteur du fond */
        position: absolute;
        background: linear-gradient(to top right,#66aaff, #000b52);
        background-size: 200% 200%;
        animation: shiftColors 30s infinite alternate linear;
        z-index: -1;
    }
    
    @keyframes shiftColors {
        0% {
          background-position: 0% 100%;
        }
        100% {
          background-position: 100% 0%;
        }
    }
    
    .background-bubbles {
        position: absolute;
        top: 30%;
        left: -30%;
        width: 1500px;
        height: 1500px; /* Ajuster la hauteur pour qu'elle couvre toute la fenêtre */
        z-index: 1;
        overflow: hidden;
    }
    
    .bubble1 {
        border-radius: 50%;
        opacity: 1;
        z-index: 1;
        background-color: #f5c562;
        width: 1500px;
        height: 1500px;
    }
    
    .palmier1 {
        z-index: 2;
        position: absolute;
        left: -5%;
        top: 20%;
        animation: rotatepalmier1 4s linear alternate infinite;
        transform-origin: bottom center;
    }
    
    .palmier2 {
        z-index: 2;
        position: absolute;
        left: 25%;
        top: 40%;
        animation: rotatepalmier2 5s linear alternate infinite;
        transform-origin: bottom center;
    }

    .palmier3 {
        z-index: 2;
        position: absolute;
        left: 5%;
        top: 65%;
        animation: rotatepalmier3 6s linear alternate infinite;
        transform-origin: bottom center;
    }
    
    @keyframes rotatepalmier1 {
        0% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(10deg);
        }
    }
    
    @keyframes rotatepalmier2 {
        0% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(-10deg);
        }
    }

    @keyframes rotatepalmier3 {
        0% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(-10deg);
        }
    }
    
    .presentation {
        font-family: 'Grafton';
        text-align: right;
        margin-right: 10%;
        font-size: 60px;
        color: white;
    }
    
    .txt_presentation{
        margin-top: -3%;
        text-align: center;
        margin-left: 55%;
        margin-right: 1%;
        font-size: 50px;
        color: white;
        max-width: 1000px;
    }

    .vet{
        margin-top: 400px;
        font-family: 'Grafton';
        text-align: right;
        margin-right: 1%;
        font-size: 100px;
        color:rgb(0, 0, 0);
    }

    .lien {
        margin-top: 20px;
        font-family: 'Grafton';
        text-align: right;
        margin-right: 20%;
        font-size: 30px;
    }

    .lien2 {
        margin-top: 20px;
        font-family: 'Grafton';
        text-align: left;
        margin-left: 1%;
        font-size: 60px;
    }

    a {
        display: inline-block;
        padding: 20px 20px; /* Ajustez les valeurs selon vos préférences */
        background-color: #f5c562; /* Couleur de fond jaune */
        color: rgb(0, 0, 0); /* Couleur du texte noir */
        text-decoration: none; /* Pas de soulignement */
        border: 1px solid rgb(255, 255, 255); /* Bordure noire d'épaisseur 1px */
        border-radius: 50px; /* Coins arrondis */
        margin: 5px; /* Marge autour des liens */
    }

    a:hover{
        background-color: #ffaa00;
    }

    .un{
        position: absolute;
        bottom: 0;
    }

    .deux{
        bottom: -10px;
    }

    .sect1{
        margin-top: -20%;
        width: 100%;
        height: 70%; /* La hauteur du fond */
        position: absolute;
        background: linear-gradient(to top right,#66aaff, #000b52);
        background-size: 200% 200%;
        animation: shiftColors 30s infinite alternate linear;
        z-index: -1;
    }

    .image-gallery {
        margin-top: 50px;
        display: flex;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 400px; /* Hauteur de la galerie */
    }
    
    .gallery-box {
        flex-shrink: 0;
        width: calc(95% / 4); /* Divise l'espace en trois pour chaque image */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s, opacity 0.5s; /* Ajoutez également la transition de l'opacité */
        margin: 0 10px; /* Espacement entre les images */
        margin-bottom: 10px;
    }
    
    .gallery-box img {
        max-width: 100%;
        max-height: 350px;
    }

    .code{
        margin-top: 400px;
        font-family: 'Grafton';
        text-align: left;
        margin-left: 1%;
        font-size: 100px;
        color:rgb(255, 255, 255);
    }

    .background-bubbles2 {
        position: absolute;
        top: 20%;
        right: -10%;
        width: 800px;
        height: 800px; /* Ajuster la hauteur pour qu'elle couvre toute la fenêtre */
        z-index: 1;
        overflow: hidden;
    }
    
    .bubble2 {
        border-radius: 50%;
        opacity: 1;
        z-index: 1;
        background-color: #f5c562;
        width: 800px;
        height: 800px;
    }

    .palmier4 {
        z-index: 2;
        position: absolute;
        right: 5%;
        top: 0%;
        animation: rotatepalmier3 6s linear alternate infinite;
        transform-origin: bottom center;
    }
    
    @keyframes rotatepalmier4 {
        0% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(10deg);
        }
    }

    .transate {
        z-index: 2;
        position: absolute;
        right: 3%;
        margin-top: 3%;
        animation: rotatepalmier3 2s linear alternate infinite;
        transform-origin: bottom center;
    }

    
    @keyframes rotatepalmier4 {
        0% {
          transform: rotate(-5deg);
        }
        100% {
          transform: rotate(5deg);
        }
    }

    .product {
        border: 5px solid #ffffff;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        margin: 50px;
        width: 900px;
        margin-left: 100px;
    }

    .image{
        max-width: 800px;
    }

    .zoom-effect {
        transition: transform 0.3s ease; /* Animation de transition pour le zoom */
    }
    
    .zoom-effect:hover {
        transform: scale(1.1); /* Zoom sur l'élément au survol */
    }

    .voir_plus_site{
        font-family: 'Grafton';
        font-size: 50px;
        position: absolute;
        right: 15%;
        margin-top: -150px;
    }

    .voir_plus_vet{
        font-family: 'Grafton';
        font-size: 50px;
        position: absolute;
        left: 10%;
        margin-top: 50px;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px){
    .titre {
        font-family: 'Grafton';
        text-align: center;
        font-size: 90px;
        color: white;
        margin-top: 80px;
    }
    
    .fond {
        margin: -10px;
        width: 100%;
        height: 1700px; /* La hauteur du fond */
        position: absolute;
        background: linear-gradient(to top right,#66aaff, #000b52);
        background-size: 200% 200%;
        animation: shiftColors 30s infinite alternate linear;
        z-index: -1;
    }
    
    @keyframes shiftColors {
        0% {
          background-position: 0% 100%;
        }
        100% {
          background-position: 100% 0%;
        }
    }
    
    .background-bubbles {
        position: absolute;
        top: 30%;
        left: -30%;
        width: 1000px;
        height: 1000px; /* Ajuster la hauteur pour qu'elle couvre toute la fenêtre */
        z-index: 1;
        overflow: hidden;
    }
    
    .bubble1 {
        border-radius: 50%;
        opacity: 1;
        z-index: 1;
        background-color: #f5c562;
        width: 1000px;
        height: 1000px;
    }
    
    .palmier1 {
        max-width: 400px;
        z-index: 2;
        position: absolute;
        left: -5%;
        top: 15%;
        animation: rotatepalmier1 4s linear alternate infinite;
        transform-origin: bottom center;
    }
    
    .palmier2 {
        max-width: 400px;
        z-index: 2;
        position: absolute;
        left: 20%;
        top: 35%;
        animation: rotatepalmier2 5s linear alternate infinite;
        transform-origin: bottom center;
    }

    .palmier3 {
        max-width: 400px;
        z-index: 2;
        position: absolute;
        left: 1%;
        top: 58%;
        animation: rotatepalmier3 6s linear alternate infinite;
        transform-origin: bottom center;
    }
    
    @keyframes rotatepalmier1 {
        0% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(10deg);
        }
    }
    
    @keyframes rotatepalmier2 {
        0% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(-10deg);
        }
    }

    @keyframes rotatepalmier3 {
        0% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(-10deg);
        }
    }
    
    .presentation {
        font-family: 'Grafton';
        text-align: right;
        margin-right: 10%;
        font-size: 50px;
        color: white;
    }
    
    .txt_presentation{
        margin-top: -3%;
        text-align: center;
        margin-left: 55%;
        margin-right: 2%;
        font-size: 40px;
        color: white;
        max-width: 1000px;
    }

    .vet{
        margin-top: 250px;
        font-family: 'Grafton';
        text-align: right;
        margin-right: 1%;
        font-size: 90px;
        color:rgb(0, 0, 0);
    }

    a {
        display: inline-block;
        padding: 20px 20px; /* Ajustez les valeurs selon vos préférences */
        background-color: #f5c562; /* Couleur de fond jaune */
        color: rgb(0, 0, 0); /* Couleur du texte noir */
        text-decoration: none; /* Pas de soulignement */
        border: 1px solid rgb(255, 255, 255); /* Bordure noire d'épaisseur 1px */
        border-radius: 50px; /* Coins arrondis */
        margin: 5px; /* Marge autour des liens */
    }

    a:hover{
        background-color: #ffaa00;
    }

    .un{
        position: absolute;
        bottom: -1px;
    }

    .deux{
        bottom: -10px;
    }

    .sect1{
        margin-top: -20%;
        width: 100%;
        height: 57%; /* La hauteur du fond */
        position: absolute;
        background: linear-gradient(to top right,#66aaff, #000b52);
        background-size: 200% 200%;
        animation: shiftColors 30s infinite alternate linear;
        z-index: -1;
    }

    .image-gallery {
        margin-top: 10px;
        display: flex;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 400px; /* Hauteur de la galerie */
    }
    
    .gallery-box {
        flex-shrink: 0;
        width: calc(95% / 4); /* Divise l'espace en trois pour chaque image */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s, opacity 0.5s; /* Ajoutez également la transition de l'opacité */
        margin: 0 5px; /* Espacement entre les images */
        margin-bottom: 10px;
    }
    
    .gallery-box img {
        max-width: 100%;
        max-height: 250px;
    }

    .code{
        margin-top: 250px;
        font-family: 'Grafton';
        text-align: left;
        margin-left: 1%;
        font-size: 80px;
        color:rgb(255, 255, 255);
    }

    .background-bubbles2 {
        position: absolute;
        top: 20%;
        right: -20%;
        width: 600px;
        height: 600px; /* Ajuster la hauteur pour qu'elle couvre toute la fenêtre */
        z-index: 1;
        overflow: hidden;
    }
    
    .bubble2 {
        border-radius: 50%;
        opacity: 1;
        z-index: 1;
        background-color: #f5c562;
        width: 600px;
        height: 600px;
    }

    .palmier4 {
        max-width: 300px;
        z-index: 2;
        position: absolute;
        right: 5%;
        top: 10%;
        animation: rotatepalmier3 6s linear alternate infinite;
        transform-origin: bottom center;
    }
    
    @keyframes rotatepalmier4 {
        0% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(10deg);
        }
    }

    .transate {
        max-width: 200px;
        z-index: 2;
        position: absolute;
        right: 3%;
        margin-top: 10%;
        animation: rotatepalmier3 2s linear alternate infinite;
        transform-origin: bottom center;
    }

    
    @keyframes rotatepalmier4 {
        0% {
          transform: rotate(-5deg);
        }
        100% {
          transform: rotate(5deg);
        }
    }

    .product {
        border: 5px solid #ffffff;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        margin: 50px;
        width: 700px;
        margin-left: 70px;
    }

    .image{
        max-width: 600px;
    }

    .zoom-effect {
        transition: transform 0.3s ease; /* Animation de transition pour le zoom */
    }
    
    .zoom-effect:hover {
        transform: scale(1.1); /* Zoom sur l'élément au survol */
    }

    .voir_plus_site{
        font-family: 'Grafton';
        font-size: 30px;
        position: absolute;
        right: 10%;
        margin-top: -100px;
    }

    .voir_plus_vet{
        font-family: 'Grafton';
        font-size: 30px;
        position: absolute;
        left: 10%;
        margin-top: 30px;
    }
}